{% extends 'base.html' %}
{% block head %}
    <script type="text/javascript" src="/static/js/login.js"></script>
{% endblock head %}
{% block middle %}
	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a>
				</div>
                <div id="info" style="display: none;font-size:20px;color:#f00;text-align: center">用户名或密码有误</div>
				<div class="form_input">
					<form>
                        {% csrf_token %}
						<input type="text" name="username" id="username"  class="name_input" placeholder="请输入用户名" value="{{ username }}">
						<div class="user_error">输入错误</div>
						<input type="password" name="password" id="password" class="pass_input" placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" id="remember" value="1">
							<label>记住用户名</label>
							<a href="/user/find_password/">忘记密码？</a>
						</div>
						<input type="hidden" name="from_url" id="from_url" value="{{ from_url }}">
						<input type="submit" name="" value="立即登录" class="input_submit">
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock middle %}